<div class="tile tile-info">
  <div class="tile-heading">{{ heading_title }}</div>
  <div class="tile-body">
    <i class="fa fa-shopping-basket"></i>
    <h2 class="pull-right">{{ total }}</h2>
  </div>
  <div class="tile-footer">
    <a href="{{ order }}">{{ text_view }}</a>
  </div>
</div> 